alembic==1.5.8
altgraph==0.17
aniso8601==9.0.1
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.0
backports.entry-points-selectable==1.1.1
bce-python-sdk==0.8.64
beautifulsoup4==4.9.3
blinker==1.4
boto3==1.20.23
botocore==1.23.24
bottle==0.12.19
bs4==0.0.1
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255208697/work
cfgv==3.3.1
chardet==4.0.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
colorama==0.4.4
common==0.1.2
config==0.5.0.post0
configparser==5.0.1
cryptography @ file:///C:/ci/cryptography_1607637849569/work
cycler==0.11.0
Cython==0.29.25
data==0.4
decorator==5.1.0
distlib==0.3.4
dnspython==2.1.0
dominate==2.6.0
dual==0.0.10
dynamo3==0.4.10
elasticsearch==7.12.0
email-validator==1.1.2
et-xmlfile==1.1.0
ExifRead==2.3.2
fake-useragent==0.1.11
filelock==3.4.0
flake8==4.0.1
flake8-import-order==0.18.1
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Moment==0.11.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flywheel==0.5.4
fonttools==4.28.3
funcsigs==1.0.2
future==0.18.2
guess-language==0.2
identify==2.4.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
jmespath==0.10.0
joblib==1.1.0
jwt==1.2.0
kiwisolver==1.3.2
lap==0.4.0
lxml==4.7.1
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.5.1
mccabe==0.6.1
motmetrics==1.2.0
mysqlclient @ file:///D:/Python/pythonLearn/2021/202105/mysql/mysqlclient-2.0.3-cp38-cp38-win_amd64.whl
nodeenv==1.6.0
numpy==1.21.4
opencv-python==4.5.4.60
openpyxl==3.0.9
packaging==21.3
paddle==1.0.2
paddleslim==2.2.1
paddlex==2.1.0
pandas==1.3.5
peewee==3.14.8
pefile==2019.4.18
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
protobuf==3.19.1
prox==0.0.17
psutil==5.8.0
py==1.11.0
py-cpuinfo==8.0.0
PyAudio @ file:///D:/ProgramData/Anaconda3/Scripts/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycocotools==2.0.3
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.12.0
pyflakes==2.4.0
pygeocoder==1.2.5
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.3.0
PyMySQL @ file:///C:/ci/pymysql_1610482945113/work
pyparsing==3.0.6
pypiwin32==223
PySocks==1.7.1
pytest==6.2.5
pytest-benchmark==3.4.1
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-geoip-python3==1.3
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==22.3.0
redis==3.5.3
requests==2.25.1
s3transfer==0.5.0
schedule==1.1.0
scikit-learn==0.23.2
scipy==1.7.3
Shapely==1.8.0
shellcheck-py==0.8.0.1
simplejson==3.17.6
six @ file:///C:/ci/six_1605187374963/work
soupsieve==2.2.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1612467807278/work
sqlalchemy-mptt==0.2.5
threadpoolctl==3.0.0
tight==0.1.0
toml==0.10.2
tqdm==4.62.3
tushare==1.2.84
unicode==2.8
unicodeblock==0.3.1
urllib3==1.26.3
virtualenv==20.10.0
visitor==0.1.3
visualdl==2.2.2
Wave==0.0.2
websocket-client==0.57.0
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
xmltodict==0.12.0
ybc-bot==1.0.16
ybc-config==1.2.2
ybc-exception==1.2.1
ybc-speech==6.0.18
