{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>{{ baseDict['tables'] }}</div>
    {% for field in baseDict['reimbursement'] %}
    <div>{{ field }}</div>
    {% endfor %}
    {% for reimbursement in reimbursements %}

    <div>{{ reimbursement.source.label }}</div>
    <div>{{ reimbursement.source }} | {{ reimbursement.name }} | {{ reimbursement.qty }} | {{ reimbursement.total }}| {{ reimbursement.timestamp }} </div>
    {% endfor %}
{% endblock %}