{% extends "base.html" %}

{% block content %}
    <h1>采购记录页面</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.source.label }}<br>
            {{ form.source(size=10) }}<br>
            {% for error in form.source.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=54) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.qty.label }}<br>
            {{ form.qty(size=10) }}<br>
            {% for error in form.qty.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.total.label }}<br>
            {{ form.total(size=10) }}<br>
            {% for error in form.total.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}